@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Lato:wght@300;400&family=Maven+Pro:wght@400;500;600;800&family=Montserrat:wght@300;500;700;800;900&family=Roboto+Slab:wght@700&family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Lato:wght@300;400&family=Maven+Pro:wght@400;500;600;800&family=Montserrat:wght@300;500;700;800;900&family=Roboto+Slab:wght@700&family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Lato:wght@300;400&family=Maven+Pro:wght@400;500;600;800&family=Montserrat:wght@300;500;700;800;900&family=Roboto+Slab:wght@100;200;300;700&family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* !Global css */
.d-flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.direction-column {
  flex-direction: column;
}

/* !common css */
.container {
  border: 1px solid black;
  max-width: 483px;
  min-width: 375px;
  height: 4524px;
  margin: 0 auto;
}

/* ! section-1 */
.section-1 {
  padding: 36px 35px 0 36px;
}
.img-logo > img {
  width: 52.19px;
  height: 30.75px;
}
.icons-line {
  margin-top: 44.5px;
  width: 74%;
  max-width: 370px;
}
.icon-logo > img {
  width: 10.25px;
  height: 9.79px;
  margin-right: 5px;
}
.icon-logo > p {
  width: 60.58px;
  height: 14.91px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 115%;
}
.icon-logo:nth-child(1) {
  margin-right: 8px;
}
.section-1 h2 {
  width: 100%;
  margin-bottom: 10px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 101.38%;
  margin-top: 8px;
}
.sec1-text {
  width: 212.4px;
  height: 28.96px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 150%;
}
.sec1-img > img {
  width: 141.68px;
  height: 175.1px;
  margin-bottom: 38.4px;
}

.wise-word {
  background-color: #1e4681;
  color: white;
  padding: 9px 12px;
  max-width: 322px;
  width: 74%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 130%;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
p.author {
  align-self: flex-end;
  margin: 0;
}

/* !section-2 */
.section-2 {
  padding: 75px 30.53px 0 36px;
}
.text-container > h1 {
  width: 170.08px;
  height: 43.34px;
  font-family: Roboto Slab, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 101.38%;
}
.text {
  width: 308.47px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
}
p {
  margin-bottom: 20px;
}
.img-1 {
  display: flex;
  justify-content: center;
}
.img-1 > img {
  min-width: 170.55px;
  min-height: 160.29px;
  margin-bottom: 45px;
}
h3 {
  margin-bottom: 5px;
}

.times-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
  margin: 0 30px 30px 0;
}

.first-second {
  width: 86.88px;
  height: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 130%;
}

/* ! Section-3 */
.sec3-vebinar {
  width: 69.9px;
  height: 18.17px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
  color: #1e4681;
}
.sec3-1 {
  width: 180px;
  height: 48px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 130%;
  color: #000000;
}
.sec3-Доступ-навсегда {
  width: 99.72px;
  height: 18.17px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
  color: #1e4681;
}
.sec3-2 {
  width: 165px;
  height: 51px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 130%;
  color: #000000;
}
.sec3-Общение {
  width: 69.9px;
  height: 18.17px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
  color: #1e4681;
}
.sec3-3 {
  width: 159px;
  height: 31px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 130%;
  color: #000000;
}

/* ! Section-4 */
h2{
  margin-top: 73px;
  margin-left: 36px;
  width: 310.8px;
  height: 43.34px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 101.38%;
  /* or 26px */
  
  
  color: #000000;
  }
  ul{ 
  width: 299px;
  height: 174px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */
  margin-left: 44px;
  margin-top: 10px;
  
  
  color: #000000;
  

/* !Section - 5 */
/* .section-2 {
  padding: 75px 34px 0 34px;
} */
.section-5 {
  padding: 75px 34px 0 34px;
}
.section-5 > h2 {
  margin-bottom: 35.66px;
  width: 421.7px;
  height: 43.34px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 101.38%;
}
.sec5-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec5-box {
  width: 185.92px;
  height: 152.84px;
  background: #ffffff;
  box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
  border-radius: 13.9792px;
  margin-bottom: 24.16px;
}
.section-5 .sec5-box:last-child {
  margin-bottom: 47.16px !important;
}
.sec5-box > .box-8 > h4 {
  margin-bottom: 0;
}
.sec5-text {
  padding-left: 8.85px;
}
.sec5-text > h4 {
  width: 170.08px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 14.91px;
}
.sec5-text > .name-5,
.sec5-text > .date-5 {
  width: 170.08px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  margin: 0;
}


/* ! Section -6 */
.section-6 {
  background: #efefef;
  left: -1px;
  top: 3487px;
  border-radius: 0px;
  height: 423px;
}
.galava {
  font-family: Roboto Slab;
  font-style: Bold;
  font-size: 26px;
  line-height: 101%;
  height: 69px;
  width: 257px;
  margin-right: auto;
  margin-left: 53px;
  padding-top: 25px;
}
.jivot {
  background-color: white;
  border-radius: 17.38px;
  height: 260px;
  width: 380px;
  border-radius: 13.979166030883789px;
  margin: 45px auto auto auto;
  padding: auto;
}
.tekst {
  width: 360px;
  font-family: Roboto;
  font-size: 6px;
  margin: auto;
  padding: 18px 21px 119px 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  vertical-align: top;
  text-align: left;
}
.noqi {
  display: flex;
  justify-content: flex-start;
}
.devocka {
  width: 95px;
  height: 75px;

  position: relative;
  bottom: 110px;
  left: 75px;
}
.zavut {
  font-family: Roboto Slab;
  font-style: Bold;
  font-size: 17px;
  line-height: 17px;
  line-height: 101%;
  width: 204.45px;
  height: 34.17px;
}
.ecos {
  position: relative;
  bottom: 95px;
  left: 95px;
}
.face {
  padding-top: 0%;
}

/* !Section - 7 */
.section-7 {
  background-color: #9dc9c8;

  padding: 62px 0 63.46px 57px;
}

.h2 {
  height: 63px;
  width: 224px;
  border-radius: nullpx;
  font-family: Roboto Slab;
  font-style: Bold;
  font-size: 26px;
  line-height: 26px;
  line-height: 101%;
  /* Align: Left; */
}

.p1-sect7 {
  height: 14.911112785339355px;
  width: 79.21527862548828px;
  left: 33.848388671875px;
  top: 4057.3251953125px;
  border-radius: nullpx;
}
.p2-sect7 {
  height: 84.3409652709961px;
  width: 224.13265991210938px;
  left: 33.848388671875px;
  top: 4071.3046875px;
  border-radius: nullpx;
  font-family: Roboto;
  font-style: Regular;
  font-size: 37px;
  line-height: 38px;
  line-height: 101%;
}
.p3-sect7 {
  height: 47px;
  width: 138px;
  border-radius: nullpx;
}
.p4-sect7 {
  height: 38px;
  width: 140px;
  border-radius: nullpx;
  height: 47px;
  width: 138px;
  border-radius: nullpx;
}
.container-sect7 {
  display: flex;
}
.sect7-right {
  padding-left: 31px;
}
.sect7-left {
  padding-right: 31px;
}

